{% extends 'base.html.twig' %}

{% block title %}Admin Users
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="page-header">
				<h3 class="mb-2">User Plans</h3>
				<div class="page-breadcrumb">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="#" class="breadcrumb-link">Dashboard</a>
							</li>
							<li class="breadcrumb-item active" aria-current="page">User Plan</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="body-wrapper" style="background-color: white;padding: 22px;">
		<nav class="navbar navbar-expand-sm " style="background-color: #e1e1e1 !important;">
			<ul class="navbar-nav">
				<li class="nav-item" style="border-bottom: none;">
					<a href="new-plan">
						<button type="button" class="btn btn-outline-primary">Add new plan</button>
					</a>
					
				</li>

			</ul>
		</nav>

		{{ tableData|raw }}

		<div class="pagination" style="background-color: whitesmoke;">
			<a href="#">&laquo;</a>
			<a href="#">1</a>
			<a href="#" class="active">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<a href="#">5</a>
			<a href="#">6</a>
			<a href="#">&raquo;</a>
		</div>
	</div>
{% endblock %}
